$buttonBackground: #63636e;
$buttonText: #f3f3f3;
$buttonDimensions: 100px;

.Key {
    border: 1px solid black;
    background-color: $buttonBackground;
    text-align: center;   
    width: $buttonDimensions;
    height: $buttonDimensions;
    line-height: $buttonDimensions;
    border-radius: 3px;
    -webkit-box-shadow: 1px 7px 11px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 7px 11px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 7px 11px 1px rgba(0,0,0,0.5);
    display: inline-block;
    margin: 10px;

    .Key--digit {
        color: $buttonText;
        font-size: 50px;
        font-weight: 500;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
}
