$screenBackgroundOn: #7fffff;
$screenBackgroundOff: #47b2b2;

.Screen {
    border-radius: 5px;
    margin-bottom: 30px;
    height: 200px;
    width: 100%;
    position: relative;

    .Screen--switch {
        height: 200px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid black;

        &.Screen--switch-on {
            background-color: $screenBackgroundOn;
        }
    
        &.Screen--switch-off {
            background-color: $screenBackgroundOff;
        }
    }
}